/*############################*/
/*#####       Album      #####*/
/*############################*/

.albums-container {
  margin-top: 20px;
}

.albums-container .search-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.albums-container .search-input .input {
  width: calc(100% - 100px);
}

.albums-container .search-input .button {
  width: 80px;
}

.albums-container .empty-message {
  margin-top: 20%;
}

@media (max-width: 768px) {
  .albums-container .order-dropdown {
    width: 100%;
  }
}
