/*############################*/
/*#####       Album      #####*/
/*############################*/

.albums-container {
  margin-top: 20px;
}

.albums-container .search-input {
  width: 100%;
}

.albums-container .empty-message {
  margin-top: 20%;
}

@media (max-width: 768px) {
  .albums-container .order-dropdown {
    width: 100%;
  }
}
