/*############################*/
/*#####       Album      #####*/
/*############################*/

.albums-container {
  margin-top: 20px;
}

.albums-container .search-input {
  width: 100%;
}

@media (max-width: 768px) {
    .albums-container .order-dropdown {
      width: 100%;
    }
}